@import "app";

// Table of Contents
// Foundation Settings
//
// a. Global

// 01. Top Bar
// 02. Header
// 03. Breadcrumbs
// 04. Main Navigation
// 05. Emergency Alert Box
// 06. Hero Image
// 07. Page Heading
// 08. Bread Crumbs
// 09. Content Row 1
// 10. Content Row 2
// 11. Content Row 3
// 12. Top Footer
// 13. Bottom Footer

// a. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -

/* Add padding to floated images */
.left img {
  margin-right: 1em;
}

.right img {
  margin-left: 1em;
}

// 01. Top Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -

// 02. Header
// - - - - - - - - - - - - - - - - - - - - - - - - -
#uthsc-header {
  background: $uthsc-green;
}

// 03. Bread Crumbs
// - - - - - - - - - - - - - - - - - - - - - - - - -
#breadcrumblabel {
  display: inline;
}

#breadcrumbs {
  background: #e6e6e6;
  ol {
    display: inline;
  }
  li {
    display: inline;

    &:after {
      content: ' > ';
      color: gray;
    }
  }
}

// 04. Main Navigation
// - - - - - - - - - - - - - - - - - - - - - - - - -
#uthsc-navigation {
  background-color: $uthsc-green;

  ul {
    margin: 0;
    li {
      float: left;
      list-style: none;
      padding: .5em 0;
      ul{
        display:none;
        margin-left:0;
        padding-left:0;
        li {
          float: none;
          font-size: .8em;
          line-height:1.5em;
          &:hover {
            background: #000;
          }
        }
      }
    }
  }

  a {
    padding: .3em;
    //color:#fff;
  }
}

.uthsc-navigation-column {
  width: 16.4%;
}

// 05. Emergency Alert Box
// - - - - - - - - - - - - - - - - - - - - - - - - -
.emergency-alert {
  margin-bottom: 0;
}

// 06. Hero Image
// - - - - - - - - - - - - - - - - - - - - - - - - -
.hero img {
  width: 100%
}

// 10. Top Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -
.uthsc-footer-top {
  background: $uthsc-green;
  padding: 40px 0;
  h4, p {
    color: #fff;
  }
}

// 11. Bottom Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -
.uthsc-footer-bottom {
  background: #000;
  padding: 40px 0;
  h4, p {
    color: #fff;
  }
  .left img {
    padding-right: 1em;
  }
}
