@import "app";

// UTHSC Styles

@import "partials/uthsc-global-styles";
@import "partials/uthsc-navigation-mobile";
@import "partials/uthsc-off-canvas-navigation";
@import "partials/uthsc-top-bar";
@import "partials/uthsc-header";
@import "partials/uthsc-breadcrumbs";
@import "partials/uthsc-navigation-main";
@import "partials/uthsc-emergency-alert";
@import "partials/uthsc-hero";
@import "partials/uthsc-footer-top";
@import "partials/uthsc-footer-bottom";