doctype html
html.no-js(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= 'University of Tennessee Health Science Center'
        link(rel='stylesheet', type='text/css', href='_resources/2015/css/uthsc.css')
        link(rel='stylesheet', type='text/css', href='_resources/2015/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:300')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,300,700,300italic,400')
        script(src='_resources/2015/js/modernizr.js')
    //1. Left Off Canvas Menu
    //1. Right Off Canvas Menu
    //1. Mobile Navigation Menu
    //1. Header
    //a. Top Bar Navigation
    //a. Banner
    //1. Bread Crumbs
    //1. Main Navigation
    //1. Emergency Alert Box
    //1. Hero Image
    //1. Page Heading
    //1. Content Row 1
    //1. Content Row 2
    //1. Content Row 3
    //1. Top Footer
    //1. Bottom Footer
    body#top.homepage(data-magellan-destination='top')
        #fb-root
            script.
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=168560461625";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        //Right Off Canvas Menu
        include template-files/right-off-canvas-menu
        //Off Canvas Wrapper
        #wrapper
            #mobile-navigation.hide-for-large-up
                button.nav-toggler.toggle-push-right
                | <?php if (strpos($_SERVER['HTTP_USER_AGENT'], 'iPhone')) { ?>
                .bottom-nav-bar
                | <?php } ?>

            //Header
            header#uthsc-header
                //Top Bar Navigation
                include template-files/nav-top-bar
                //Banner
                .row
                    .medium-7.large-8.large-centered.columns
                        img.uthsc-logo(src='_resources/2015/images/uthsc-logo-white-text.svg', width='100%')
                    .medium-5.large-12.hide-for-large-up.columns.small-collapse
                        .search-bar.has-form.tablet
                            input.search(type='text')
                            a.button.tiny(href="#")
                                i.fa.fa-search
            // Fullscreen image
            .hide-for-small
                .fullscreen
                    div(style='height: 38%;')
                    div.magellan(data-magellan-expedition='fixed')
                        dl.sub-nav
                            dd(data-magellan-arrival='education')
                                a(href='#education')
                                    i.fa.fa-graduation-cap.fa-3x
                                    p.subheader Education
                            dd(data-magellan-arrival='research')
                                a(href='#research')
                                    i.fa.fa-flask.fa-3x
                                    p.subheader Research
                            dd(data-magellan-arrival='clinical-care')
                                a(href='#clinical-care')
                                    i.fa.fa-medkit.fa-3x
                                    p.subheader Clinical Care
                            dd(data-magellan-arrival='public-service')
                                a(href='#public-service')
                                    i.fa.fa-globe.fa-3x
                                    p.subheader Public Service
                            dd.to-top(data-magellan-arrival='top')
                                a(href='#top')
                                    i.fa.fa-arrow-circle-up.fa-2x
                                    p.subheader To Top
            // tabs
            .row.show-for-small-down
                .columns.small-centered
                    ul.tabs(data-tab='', role='tablist')
                        li.tab-title.active.text-center(role='presentational'): a(href='#panel2-1', role='tab', tabindex='0', aria-selected='true', controls='panel2-1'): i.fa.fa-graduation-cap.fa-2x
                        li.tab-title.text-center(role='presentational'): a(href='#panel2-2', role='tab', tabindex='0', aria-selected='false', controls='panel2-2'): i.fa.fa-flask.fa-2x
                        li.tab-title.text-center(role='presentational'): a(href='#panel2-3', role='tab', tabindex='0', aria-selected='false', controls='panel2-3'): i.fa.fa-medkit.fa-2x
                        li.tab-title.text-center(role='presentational'): a(href='#panel2-4', role='tab', tabindex='0', aria-selected='false', controls='panel2-4'): i.fa.fa-globe.fa-2x
                    .tabs-content.content-area
                        section#panel2-1.content.active(role='tabpanel', aria-hidden='false')
                            .row
                                .columns.mission-image
                                    img(src='_resources/2015/images/mission-education.jpg' alt='xxxx')
                                .columns.mission-name
                                    h2.tab-header Education
                                include template-files/homepage-content/education
                                .columns.collapse.college-image
                                    h2 Colleges
                                    a(href="/dentistry/"): img(src='_resources/2015/images/colleges-arches-01.jpg')
                                    a(href="/grad/"): img(src='_resources/2015/images/colleges-arches-02.jpg')
                                    a(href="/health-professions/"): img(src='_resources/2015/images/colleges-arches-03.jpg')
                                    a(href="/medicine/"): img(src='_resources/2015/images/colleges-arches-04.jpg')
                                    a(href="/nursing/"): img(src='_resources/2015/images/colleges-arches-05.jpg')
                                    a(href="/pharmacy/"): img(src='_resources/2015/images/colleges-arches-06.jpg')
                                include template-files/homepage-content/education-news
                        section#panel2-2.content(role='tabpanel', aria-hidden='true')
                            .row
                                 .columns.mission-image
                                    img(src='_resources/2015/images/mission-research.jpg' alt='xxxx')
                                 .columns.mission-name
                                     h2.tab-header Research
                                include template-files/homepage-content/research
                            include template-files/homepage-content/research-news
                        section#panel2-3.content(role='tabpanel', aria-hidden='true')
                            .row
                                 .columns.mission-image
                                    img(src='_resources/2015/images/mission-clinical-care.jpg' alt='xxxx')
                                 .columns.mission-name
                                     h2.tab-header Clinical Care
                                include template-files/homepage-content/clinical-care
                            include template-files/homepage-content/clinical-care-news
                        section#panel2-4.content(role='tabpanel', aria-hidden='true')
                            .row
                                 .columns.mission-image
                                    img(src='_resources/2015/images/mission-public-service.jpg' alt='xxxx')
                                 .columns.mission-name
                                     h2.tab-header Public Service
                                include template-files/homepage-content/public-service
                            include template-files/homepage-content/public-service-news
            #about.content-area
                #numbers.row.text-center(data-equalizer='data-equalizer')
                    .columns.numbers.medium-3(data-equalizer-watch='data-equalizer-watch')
                        h2 $2.7
                        p Billion
                        p contributed to the
                            br
                            span Tennessee economy
                    .columns.medium-6(data-equalizer-watch='data-equalizer-watch')
                        .row.numbers.tennessee
                            .columns.medium-6
                                h2 4
                                    i.fa.fa-map-marker
                                p Campuses
                                p
                                    a(href='#') Memphis |
                                    a(href='#')  Knoxville |
                                    a(href='#')  Nashville |
                                    a(href='#')  Chattanooga
                            .columns.medium-6
                                h2 100+
                                p Clinical &amp
                                    br
                                    | Educational Sites
                        p
                            span(style="position: relative; top: -2.7rem;") Across Tennessee
                    .columns.medium-3.numbers(data-equalizer-watch='data-equalizer-watch')
                        h2 $200
                        p Million
                        p in sponsored programs
                            br
                            span in fiscal 2014
                .row
                    .columns.small-centered.medium-8.large-7
                        .row
                            .columns.medium-6
                                a.button.large.expand
                                    i.fa.fa-road  Take a Tour
                            .columns.medium-6
                                a.button.large.expand
                                    i.fa.fa-clock-o  Schedule a Visit
                .row
                    .columns.small-centered.medium-7
                        .map-cover
                        iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d52195.518026446356!2d-89.996586!3d35.151136!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1434487876316" width="100%" height="275" frameborder="0" style="border:0")
                #events.row
                    | <?php readfile("http://events.uthsc.edu/widgets/uthsc_homepage_2015.php"); ?>
                .row
                    .columns.small-centered.small-10
                        blockquote
                            p
                                span.quotemarks
                                | Could the design processes we&rsquo;ve come to rely on, particularly in relation to responsive design, have hindered our creativity?
                            cite Andrew Clarke
                // Hero Images for Mission Sets
            .hide-for-small.content-area
                // Education
                #education.hero: img(src='_resources/2015/images/mission-education.jpg' alt='xxxx', data-magellan-destination='education')
                .hero-name-stripe
                .row(data-equalizer="data-equalizer")
                    h2.hero-text Education
                    include template-files/homepage-content/education-news
                    include template-files/homepage-content/education
                #colleges.hero.panel
                    include template-files/homepage-content/education-colleges
                 // Research
                #research.hero: img(src='_resources/2015/images/mission-research.jpg' alt='xxxx', data-magellan-destination='research')
                .hero-name-stripe
                .row(data-equalizer="data-equalizer")
                    h2.hero-text Research
                    include template-files/homepage-content/research-news
                    include template-files/homepage-content/research
                // Clinical Care
                #clinical-care.hero: img(src='_resources/2015/images/mission-clinical-care.jpg' alt='xxxx', , data-magellan-destination='clinical-care')
                .hero-name-stripe
                .row(data-equalizer="data-equalizer")
                    h2.hero-text Clinical Care
                    include template-files/homepage-content/clinical-care-news
                    include template-files/homepage-content/clinical-care
                // Public Service
                #public-service.hero: img(src='_resources/2015/images/mission-public-service.jpg' alt='xxxx', , data-magellan-destination='public-service')
                .hero-name-stripe
                .row(data-equalizer="data-equalizer")
                    h2.hero-text Public Service
                    include template-files/homepage-content/public-service-news
                    include template-files/homepage-content/public-service
            hr
            // Social Row
            .row.collapse.text-center(data-equalizer="data-equalizer")
                .columns.medium-4(data-equalizer-watch="data-equalizer-watch", style='padding:1.25rem;')
                    h5
                        i.fa.fa-facebook.fa-2x  Facebook
                    .fb-page(data-href='https://www.facebook.com/uthsc', data-width='500', data-hide-cover='true', data-show-facepile='false', data-show-posts='true')
                        .fb-xfbml-parse-ignore
                            blockquote(cite='https://www.facebook.com/uthsc')
                                a(href='https://www.facebook.com/uthsc') University of Tennessee Health Science Center
                .columns.medium-4(data-equalizer-watch="data-equalizer-watch", style='padding:1.25rem;')
                    h5
                        i.fa.fa-twitter.fa-2x  Twitter
                    a.twitter-timeline(data-dnt='true', href='https://twitter.com/uthsc', data-widget-id='595570516766883840') Tweets by @uthsc
                        script.
                            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                .columns.medium-4(data-equalizer-watch="data-equalizer-watch")
                    h5
                        i.fa.fa-instagram.fa-2x  Instagram
                    | <iframe src="http://widget.websta.me/in/uthsc/?s=100&w=2&h=2&b=1&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:230px; height: 230px" ></iframe> <!-- websta - web.stagram.com -->
            footer
            // Bottom Footer
            .uthsc-footer-bottom
                .row.collapse
                    .columns.text-center
                        br
                        p
                            | &copy; <?php echo date("Y") ?> The University of Tennessee
                            br
                            | Health Science Center
                            br
                            |  Memphis, Tennessee 38163
                            br
                            |  Main: 901-448-5500
                            br
                            |  TDD: 901-448-7382
                            br
                            |  Last Published: <?php echo date("F j, Y") ?>
                        br

                        a.button.radius.secondary.tiny(href='mailto:webmaster@uthsc.edu')
                            i.fa.fa-envelope.fa-3x.two-line-button-icon
                            span.two-line-button-text
                                | Email
                                br
                                | Webmaster
                        = "\n"
                        a.button.radius.secondary.tiny(href='/password/')
                            i.fa.fa-key.fa-3x.two-line-button-icon
                            span.two-line-button-text
                                | Edit
                                br
                                | Password
                        br
                        .social-icon
                            = "\n"
                            a(href='http://facebook.com/uthsc'): i.fa.fa-facebook.fa-2x.fa-inverse
                            = "\n"
                            a(href='http://twitter.com/uthsc'): i.fa.fa-twitter.fa-2x.fa-inverse
                            = "\n"
                            a(href='http://instagram.com/uthsc'): i.fa.fa-instagram.fa-2x.fa-inverse
                            = "\n"
                            a(href='http://linkedin.com/company/university-of-tennessee-health-science-center'): i.fa.fa-linkedin.fa-2x.fa-inverse
                            = "\n"
                            a(href='http://pinterest.com/uthsc/'): i.fa.fa-youtube.fa-2x.fa-inverse
                            = "\n"
                            a(href='http://youtube.com/user/uthsc'): i.fa.fa-pinterest.fa-2x.fa-inverse

                        br
                .row.collapse
                    #emergency-mobile.columns.small-12.show-for-small
                        h3.text-center
                            i.fa.fa-phone.fa-flip-horizontal.fa-2x
                            |  Emergency Numbers
                        a.button.alert.expand(href='#', data-reveal-id='myModal1')
                            i.fa.fa-info-circle
                            |  Medical/Behavioral
                        #myModal1.reveal-modal.text-center(data-reveal='data-reveal')
                            .call-buttons-box
                                h2 Medical/Behavioral
                                hr
                                h3.lead
                                    a.button.emergency(href='tel:911')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  911
                                p or Campus Police at
                                h3
                                    a.button.emergency(href='tel:901-448-4444')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  901-448-4444
                            p
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal6')
                                    i.fa.fa-chevron-up.fa-2x.fa-button
                                    |  Previous Emergency Number
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal2')
                                    i.fa.fa-chevron-down.fa-2x.fa-button
                                    |  Next Emergency Number
                            a.close-reveal-modal ×
                        a.button.alert.expand(href='#', data-reveal-id='myModal2')
                            i.fa.fa-info-circle
                            |  Medical Urgent Care
                        #myModal2.reveal-modal.text-center(data-reveal='data-reveal')
                            .call-buttons-box
                                h2 Medical Urgent Care
                                hr
                                h3.lead
                                    a.button.emergency(href='tel:901-448-5630')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  901-448-5630
                            p
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal1')
                                    i.fa.fa-chevron-up.fa-2x.fa-button
                                    |  Previous Emergency Number
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal3')
                                    i.fa.fa-chevron-down.fa-2x.fa-button
                                    |  Next Emergency Number
                            a.close-reveal-modal ×
                        a.button.alert.expand(href='#', data-reveal-id='myModal3')
                            i.fa.fa-info-circle
                            |  Behavioral Health Urgent Care
                        #myModal3.reveal-modal.text-center(data-reveal='data-reveal')
                            .call-buttons-box
                                h2 Behavioral Health Urgent Care
                                hr
                                h3.lead
                                    a.button.emergency(href='tel:901-448-5064')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  901-448-5064
                            p
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal2')
                                    i.fa.fa-chevron-up.fa-2x.fa-button
                                    |  Previous Emergency Number
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal4')
                                    i.fa.fa-chevron-down.fa-2x.fa-button
                                    |  Next Emergency Number
                            a.close-reveal-modal ×
                        a.button.alert.expand(href='#', data-reveal-id='myModal4')
                            i.fa.fa-info-circle
                            |  Student Assistance Program
                        #myModal4.reveal-modal.text-center(data-reveal='data-reveal')
                            .call-buttons-box
                                h2 Student Assistance Program (SAP)
                                hr
                                h3.lead
                                    a.button.emergency(href='tel:800-327-2255')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  800-327-2255
                                        br
                                        | (Option 3)
                            p
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal3')
                                    i.fa.fa-chevron-up.fa-2x.fa-button
                                    |  Previous Emergency Number
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal5')
                                    i.fa.fa-chevron-down.fa-2x.fa-button
                                    |  Next Emergency Number
                            a.close-reveal-modal ×
                        a.button.alert.expand(href='#', data-reveal-id='myModal5')
                            i.fa.fa-info-circle
                            |  Employee Assistance Program
                        #myModal5.reveal-modal.text-center(data-reveal='data-reveal')
                            .call-buttons-box
                                h2 Employee Assistance Program (EAP)
                                hr
                                h3.lead
                                    a.button.emergency(href='tel:855-437-3486')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  855-437-3486
                            p
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal4')
                                    i.fa.fa-chevron-up.fa-2x.fa-button
                                    |  Previous Emergency Number
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal6')
                                    i.fa.fa-chevron-down.fa-2x.fa-button
                                    |  Next Emergency Number
                            a.close-reveal-modal ×
                        a.button.alert.expand(href='#', data-reveal-id='myModal6')
                            i.fa.fa-info-circle
                            |  After Hours Medical/Behavioral
                        #myModal6.reveal-modal.text-center(data-reveal='data-reveal')
                            .call-buttons-box
                                h2
                                    | After Hours Medical/Behavioral
                                    br
                                    | Available (24/7)
                                hr
                                h3.lead
                                    a.button.emergency(href='tel:901-541-5654')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  901-541-5654
                            p
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal5')
                                    i.fa.fa-chevron-up.fa-2x.fa-button
                                    |  Previous Emergency Number
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal1')
                                    i.fa.fa-chevron-down.fa-2x.fa-button
                                    |  Next Emergency Number
                            a.close-reveal-modal ×
                    #emergency-desktop.medium-5.medium-centered.columns.hide-for-small
                        .row
                            a.button.alert.radius.expand(href='/univheal/emergencies.php')
                                .columns.large-5.medium-4.text-right.emergency-phone-icon
                                    i.fa.fa-phone.fa-flip-horizontal.fa-3x
                                .columns.large-7.medium-8.text-left
                                    h4
                                        | Emergency
                                        br
                                        | Numbers
                                .columns.small-12
                                    | Call 911 or Campus Police at 901-448-4444
                                    br
                                    |  More Emergency Information

        script(type='text/javascript', src='_resources/2015/js/jquery.min.js')
        script(type='text/javascript', src='_resources/2015/js/uthsc.foundation.min.js')
        script(type='text/javascript').
            (function($){
                $(document).foundation({
                    "magellan-expedition": {
                        active_class: 'gellin' // specify the class used for active sections
                    }
                });
            })(jQuery);
        script(type='text/javascript').
            $(document).foundation('equalizer', 'reflow');
        script(src='_resources/2015/js/uthsc.min.js')