doctype html
html.no-js(lang="en")
    include template-files/head
    body#top.homepage(data-magellan-destination='top')
        include template-files/facebook-sdk
        include template-files/right-off-canvas-menu
        //Off Canvas Wrapper
        #wrapper
            #mobile-navigation.hide-for-large-up
                button.nav-toggler.toggle-push-right
                | <?php if (strpos($_SERVER['HTTP_USER_AGENT'], 'iPhone')) { ?>
                .bottom-nav-bar
                | <?php } ?>

            //Header
            header#uthsc-header
                include template-files/nav-top-bar
                include template-files/banner
            include homepage-content/fullscreen
            include homepage-content/tabs
            include homepage-content/about
            include homepage-content/hero
            include homepage-content/social
            footer
            include template-files/footer-bottom

        include template-files/closing-scripts