doctype html
html.no-js(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= 'UTHSC Navigation'
        link(rel='stylesheet', type='text/css', href='_resources/2015/css/uthsc.css')
        link(rel='stylesheet', type='text/css', href='_resources/2015/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:300')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,300,700,300italic,400')
        script(src='_resources/2015/js/modernizr.js')
    //1. Left Off Canvas Menu
    //1. Right Off Canvas Menu
    //1. Mobile Navigation Menu
    //1. Header
    //a. Top Bar Navigation
    //a. Banner
    //1. Bread Crumbs
    //1. Main Navigation
    //1. Emergency Alert Box
    //1. Hero Image
    //1. Page Heading
    //1. Content Row 1
    //1. Content Row 2
    //1. Content Row 3
    //1. Top Footer
    //1. Bottom Footer
    body.homepage

        //Right Off Canvas Menu
        nav.offcanvas-nav.menu.push-menu-right

            a.button.uthsc-split-button-home(href='/')
                i.fa.fa-home
            button.button.dropdown.uthsc-split-button(data-dropdown='breadcrumbs-right', aria-controls='drop', aria-expanded='false') Breadcrumbs Back Home
            br
            ol#breadcrumbs-right.f-dropdown.mega.uthsc-split-button-breadcrumb-links(aria-labelledby='breadcrumblabel', data-dropdown-content='data-dropdown-content', role='menu', aria-hidden='false', tabindex='-1')
                li: a(href='/', title='Home')
                    i.fa.fa-level-up.fa-2x.fa-flip-horizontal(style='float: left;')
                    | Back to the Homepage
                li: a(href='#', title='College of Medicine') College of Medicine
                li: a(href='#', title='Office of Medical Education') Office of Medical Education
                li: a(href='#', title='Clerkships') Clerkships
                li: a(href='#', title='Core Clerkship Directors') Core Clerkship Directors
                li: a.current(href='#')
            input(type='text', placeholder='Search', style='margin:0;')
            button.close-menu.expand Close Menu &emsp;
                i.fa.fa-chevron-right
                // Mission Links
            .mission-links
                h2 Mission
                a.button.inverse(href='/education/')
                    i.fa.fa-graduation-cap
                    | Education
                a.button.inverse(href='/research/')
                    i.fa.fa-flask
                    | Research
                a.button.inverse(href='/clinicalcare/')
                    i.fa.fa-medkit
                    | Clinical Care
                a.button.inverse(href='/publicservice/')
                    i.fa.fa-globe
                    | Public Service
            ul
                li.button.menu
                    i.fa.fa-gift
                    | Make a Gift
                li.button.menu
                    i.fa.fa-road
                    | Take a Tour
                li.not-a-link
                    a Information for...
                    ul
                        li: a(href='#') Students
                        li: a(href='#') Faculty &amp; Staff
                        li: a(href='#') Alumni
                        li: a(href='#') Visitors
                        li: a(href='#') Patients
                li.not-a-link
                    a: i.fa.fa-university  Resources
                    ul
                        li: a(href='#') Banner
                        li: a(href='#') Blackboard
                        li: a(href='#') Calendar
                        li: a(href='#') Career Opportunities
                        li: a(href='#') iLogin
                        li: a(href='#') Maps
                        li: a(href='#') MyUT
                        li: a(href='#') News
                        li: a(href='#') Webmail
            button.close-menu.expand Close Menu &emsp;
                i.fa.fa-chevron-right
            | <?php if (strpos($_SERVER['HTTP_USER_AGENT'], 'iPhone')) { ?>
            .bottom-nav-bar-off-canvas
            | <?php } ?>

        //Off Canvas Wrapper
        #wrapper
            #mobile-navigation.hide-for-large-up
                button.nav-toggler.toggle-push-right.right
                | <?php if (strpos($_SERVER['HTTP_USER_AGENT'], 'iPhone')) { ?>
                .bottom-nav-bar
                | <?php } ?>

            //Header
            header#uthsc-header
                //Top Bar Navigation
                nav.top-bar.show-for-large-up(data-topbar='data-topbar', role='navigation')
                    ul.title-area
                        li.name
                        // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
                        li.toggle-topbar.menu-icon
                            a(href='#')
                                span Menu
                    // Left Top Bar Section
                    section.top-bar-section.left
                        ul
                            li: a(href='#') Students
                            li: a(href='#') Faculty &amp; Staff
                            li: a(href='#') Alumni
                            li: a(href='#') Visitors
                            li: a(href='#') Patients
                    // Right Top Bar Section
                    section.top-bar-section.right
                        ul
                            li.has-dropdown
                                a.button.label(href='#') Our Mission
                                ul.dropdown
                                    li: a(href='#')
                                        i.fa.fa-graduation-cap
                                        span Education
                                    li: a(href='#')
                                        i.fa.fa-flask
                                        span Research
                                    li: a(href='#')
                                        i.fa.fa-medkit
                                        span Clinical Care
                                    li: a(href='#')
                                        i.fa.fa-globe
                                        span Public Service
                                    li: a(href='#')  Mission Statement
                            li.has-dropdown
                                a.button.label(href='#')
                                    i.fa.fa-university
                                    |  Resources
                                ul.dropdown
                                    li: a(href='#') Banner
                                    li: a(href='#') Blackboard
                                    li: a(href='#') Calendar
                                    li: a(href='#') Career Opportunities
                                    li: a(href='#') iLogin
                                    li: a(href='#') Maps
                                    li: a(href='#') MyUT
                                    li: a(href='#') News
                                    li: a(href='#') Webmail
                            li.button.menu.secondary.label
                                i.fa.fa-gift
                                |  Make a Gift
                            li.button.top-bar-button.label
                                i.fa.fa-road
                                |  Take a Tour
                            li.has-form.search-bar-large: input(type='text', placeholder='Search')
                //Banner
                .row
                    .medium-7.large-8.large-centered.columns
                        img.uthsc-logo(src='_resources/2015/images/uthsc-logo-white-text.svg', width='100%')
                    .medium-5.large-12.hide-for-large-up.columns.small-collapse
                        .search-bar.has-form
                            input(type='text', placeholder='Search')

            // Hero Images
            .hide-for-small
                .hero: img(src='images/memphis-skyline.jpg')
                // Mission Sets
                // Education
                .hero: img(src='http://placehold.it/2000x600&text=[Education%20image]' alt='xxxx')
                .row
                    .columns.medium-8
                        p Nam volutpat, lacus vel iaculis interdum, lectus lectus ornare nisi, eu sagittis sapien tellus non erat. Ut lectus urna, condimentum at tristique in, dictum nec orci.
                    .columns.medium-4
                        <iframe src="http://widget.websta.me/in/uthsc/?s=100&w=2&h=2&b=1&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:230px; height: 230px" ></iframe> <!-- websta - web.stagram.com -->
                // Research
                .hero: img(src='http://placehold.it/2000x600&text=[Research%20image]' alt='xxxx')
                .row
                    .columns.medium-8
                        p Nam volutpat, lacus vel iaculis interdum, lectus lectus ornare nisi, eu sagittis sapien tellus non erat. Ut lectus urna, condimentum at tristique in, dictum nec orci.
                    .columns.medium-4
                        a.twitter-timeline(data-dnt='true', href='https://twitter.com/uthsc', data-widget-id='595570516766883840') Tweets by @uthsc
                            script.
                                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                // Clinical Care
                .hero: img(src='http://placehold.it/2000x600&text=[Clinical%20Care%20image]' alt='xxxx')
                .row
                    .columns.medium-8
                        p Nam volutpat, lacus vel iaculis interdum, lectus lectus ornare nisi, eu sagittis sapien tellus non erat. Ut lectus urna, condimentum at tristique in, dictum nec orci.
                    .colums.medium-4
                        a(data-pin-do='embedUser', href='http://www.pinterest.com/uthsc/', data-pin-scale-width='60', data-pin-scale-height='200', data-pin-board-width='200') Visit UTHSC&apos;s profile on Pinterest.
                            script(type='text/javascript', async='', defer='', src='//assets.pinterest.com/js/pinit.js')
                // Public Service
                .hero: img(src='http://placehold.it/2000x600&text=[Public%20Service%20image]' alt='xxxx')
                .row
                    .columns.medium-8
                        p Nam volutpat, lacus vel iaculis interdum, lectus lectus ornare nisi, eu sagittis sapien tellus non erat. Ut lectus urna, condimentum at tristique in, dictum nec orci.
                    .columns.medium-4
                        .button.small Button 1
                        .button.small Button 2
                        .button.small Button 3
                        .button.small Button 4

            // tabs
            .row.show-for-small-down
                .columns.small-centered
                    ul.tabs(data-tab='', role='tablist')
                        li.tab-title.active.text-center(role='presentational'): a(href='#panel2-1', role='tab', tabindex='0', aria-selected='true', controls='panel2-1'): i.fa.fa-graduation-cap.fa-2x
                        li.tab-title.text-center(role='presentational'): a(href='#panel2-2', role='tab', tabindex='0', aria-selected='false', controls='panel2-2'): i.fa.fa-flask.fa-2x
                        li.tab-title.text-center(role='presentational'): a(href='#panel2-3', role='tab', tabindex='0', aria-selected='false', controls='panel2-3'): i.fa.fa-medkit.fa-2x
                        li.tab-title.text-center(role='presentational'): a(href='#panel2-4', role='tab', tabindex='0', aria-selected='false', controls='panel2-4'): i.fa.fa-globe.fa-2x
                    .tabs-content
                        section#panel2-1.content.active(role='tabpanel', aria-hidden='false')
                            .row
                                 .columns.mission-image
                                    img(src='http://placehold.it/580x120&text=[Education%20image]' alt='xxxx')
                                 .columns.mission-name
                                     h2.tab-header Education
                                 .columns.mission-content
                                    p Nam volutpat, lacus vel iaculis interdum, lectus lectus ornare nisi, eu sagittis sapien tellus non erat. Ut lectus urna, condimentum at tristique in, dictum nec orci.
                                    .button.small Button 1
                                    .button.small Button 2
                                    .button.small Button 3
                                    .button.small Button 4
                        section#panel2-2.content(role='tabpanel', aria-hidden='true')
                            .row
                                 .columns.mission-image
                                    img(src='http://placehold.it/580x120&text=[Research%20image]' alt='xxxx')
                                 .columns.mission-name
                                     h2.tab-header Research
                                 .columns.mission-content
                                    p Nam volutpat, lacus vel iaculis interdum, lectus lectus ornare nisi, eu sagittis sapien tellus non erat. Ut lectus urna, condimentum at tristique in, dictum nec orci.
                                    .button.small Button 1
                                    .button.small Button 2
                                    .button.small Button 3
                                    .button.small Button 4
                        section#panel2-3.content(role='tabpanel', aria-hidden='true')
                            .row
                                 .columns.mission-image
                                    img(src='http://placehold.it/580x120&text=[Clinical%20Care%20image]' alt='xxxx')
                                 .columns.mission-name
                                     h2.tab-header Clinical Care
                                 .columns.mission-content
                                    p Nam volutpat, lacus vel iaculis interdum, lectus lectus ornare nisi, eu sagittis sapien tellus non erat. Ut lectus urna, condimentum at tristique in, dictum nec orci.
                                    .button.small Button 1
                                    .button.small Button 2
                                    .button.small Button 3
                                    .button.small Button 4
                        section#panel2-4.content(role='tabpanel', aria-hidden='true')
                            .row
                                 .columns.mission-image
                                    img(src='http://placehold.it/580x120&text=[Public%20Service%20image]' alt='xxxx')
                                 .columns.mission-name
                                     h2.tab-header Public Service
                                 .columns.mission-content
                                    p Nam volutpat, lacus vel iaculis interdum, lectus lectus ornare nisi, eu sagittis sapien tellus non erat. Ut lectus urna, condimentum at tristique in, dictum nec orci.
                                    .button.small Button 1
                                    .button.small Button 2
                                    .button.small Button 3
                                    .button.small Button 4

            .row(data-equalizer="data-equalizer")
                .columns.small-12.medium-6.large-3.panel(data-equalizer-watch="data-equalizer-watch")
                    h3
                        i.fa.fa-calendar.fa-2x  Events
                    ul
                        | <?php readfile("http://events.uthsc.edu/widgets/template_all-info-bulleted.php?category=27&return_limit=5"); ?>
                .columns.small-12.medium-6.large-3.panel(data-equalizer-watch="data-equalizer-watch")
                    h3
                        i.fa.fa-newspaper-o.fa-2x  News
                    | <?php
                    | if (file_get_contents('http://news.uthsc.edu/news-html/more-links.php')){
                    | $news_output = file_get_contents('http://news.uthsc.edu/news-html/more-links.php');
                    | if (trim($news_output) == '<h1>Error establishing a database connection</h1>'){
                    | echo'<p style="padding:4px;">Our connection to the <a href="http://news.uthsc.edu/">UTHSC News</a> site is currently down. Please check back later for news. This may be due to routine maintenance or unforeseen technical problems. Whatever the issue, we can assure you that we are working hard to bring the connection back up.</p>';
                    | } else {
                    | echo $news_output;
                    | }
                    | //echo $news_output;
                    | } else {
                    | echo'<p style="padding:4px;">Our connection to the <a href="http://news.uthsc.edu/">UTHSC News</a> site is currently down. Please check back later for news. This may be due to routine maintenance or unforeseen technical problems. Whatever the issue, we can assure you that we are working hard to bring the connection back up.</p>';
                    | }
                    | ?>
                .columns.small-12.medium-12.large-6.panel(data-equalizer-watch="data-equalizer-watch")
                    h3
                        i.fa.fa-bar-chart.fa-2x  Quick Facts
                    img(src="_resources/2015/images/graphic.jpg" alt="infographic")
            footer
            // Bottom Footer
            .uthsc-footer-bottom
                .row.collapse
                    .columns.text-center
                        br
                        p
                            | &copy; <?php echo date("Y") ?> The University of Tennessee
                            br
                            | Health Science Center
                            br
                            |  Memphis, Tennessee 38163
                            br
                            |  Main: 901-448-5500
                            br
                            |  TDD: 901-448-7382
                        br

                        a.button.radius.secondary.tiny(href='mailto:webmaster@uthsc.edu')
                            i.fa.fa-envelope.fa-3x.two-line-button-icon
                            span.two-line-button-text
                                | Email
                                br
                                | Webmaster
                        = "\n"
                        a.button.radius.secondary.tiny(href='/password/')
                            i.fa.fa-key.fa-3x.two-line-button-icon
                            span.two-line-button-text
                                | Edit
                                br
                                | Password
                        br
                        .social-icon
                            = "\n"
                            a(href='http://facebook.com/uthsc'): i.fa.fa-facebook.fa-2x.fa-inverse
                            = "\n"
                            a(href='http://twitter.com/uthsc'): i.fa.fa-twitter.fa-2x.fa-inverse
                            = "\n"
                            a(href='http://instagram.com/uthsc'): i.fa.fa-instagram.fa-2x.fa-inverse
                            = "\n"
                            a(href='http://linkedin.com/company/university-of-tennessee-health-science-center'): i.fa.fa-linkedin.fa-2x.fa-inverse
                            = "\n"
                            a(href='http://pinterest.com/uthsc/'): i.fa.fa-youtube.fa-2x.fa-inverse
                            = "\n"
                            a(href='http://youtube.com/user/uthsc'): i.fa.fa-pinterest.fa-2x.fa-inverse

                        br
                .row.collapse
                    #emergency-mobile.columns.small-12.show-for-small
                        h3.text-center
                            i.fa.fa-phone.fa-flip-horizontal.fa-2x
                            |  Emergency Numbers
                        a.button.alert.expand(href='#', data-reveal-id='myModal1')
                            i.fa.fa-info-circle
                            |  Medical/Behavioral
                        #myModal1.reveal-modal.text-center(data-reveal='data-reveal')
                            .call-buttons-box
                                h2 Medical/Behavioral
                                hr
                                h3.lead
                                    a.button.emergency(href='tel:911')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  911
                                p or Campus Police at
                                h3
                                    a.button.emergency(href='tel:901-448-4444')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  901-448-4444
                            p
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal6')
                                    i.fa.fa-chevron-up.fa-2x.fa-button
                                    |  Previous Emergency Number
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal2')
                                    i.fa.fa-chevron-down.fa-2x.fa-button
                                    |  Next Emergency Number
                            a.close-reveal-modal ×
                        a.button.alert.expand(href='#', data-reveal-id='myModal2')
                            i.fa.fa-info-circle
                            |  Medical Urgent Care
                        #myModal2.reveal-modal.text-center(data-reveal='data-reveal')
                            .call-buttons-box
                                h2 Medical Urgent Care
                                hr
                                h3.lead
                                    a.button.emergency(href='tel:901-448-5630')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  901-448-5630
                            p
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal1')
                                    i.fa.fa-chevron-up.fa-2x.fa-button
                                    |  Previous Emergency Number
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal3')
                                    i.fa.fa-chevron-down.fa-2x.fa-button
                                    |  Next Emergency Number
                            a.close-reveal-modal ×
                        a.button.alert.expand(href='#', data-reveal-id='myModal3')
                            i.fa.fa-info-circle
                            |  Behavioral Health Urgent Care
                        #myModal3.reveal-modal.text-center(data-reveal='data-reveal')
                            .call-buttons-box
                                h2 Behavioral Health Urgent Care
                                hr
                                h3.lead
                                    a.button.emergency(href='tel:901-448-5064')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  901-448-5064
                            p
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal2')
                                    i.fa.fa-chevron-up.fa-2x.fa-button
                                    |  Previous Emergency Number
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal4')
                                    i.fa.fa-chevron-down.fa-2x.fa-button
                                    |  Next Emergency Number
                            a.close-reveal-modal ×
                        a.button.alert.expand(href='#', data-reveal-id='myModal4')
                            i.fa.fa-info-circle
                            |  Student Assistance Program
                        #myModal4.reveal-modal.text-center(data-reveal='data-reveal')
                            .call-buttons-box
                                h2 Student Assistance Program (SAP)
                                hr
                                h3.lead
                                    a.button.emergency(href='tel:800-327-2255')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  800-327-2255
                                        br
                                        | (Option 3)
                            p
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal3')
                                    i.fa.fa-chevron-up.fa-2x.fa-button
                                    |  Previous Emergency Number
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal5')
                                    i.fa.fa-chevron-down.fa-2x.fa-button
                                    |  Next Emergency Number
                            a.close-reveal-modal ×
                        a.button.alert.expand(href='#', data-reveal-id='myModal5')
                            i.fa.fa-info-circle
                            |  Employee Assistance Program
                        #myModal5.reveal-modal.text-center(data-reveal='data-reveal')
                            .call-buttons-box
                                h2 Employee Assistance Program (EAP)
                                hr
                                h3.lead
                                    a.button.emergency(href='tel:855-437-3486')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  855-437-3486
                            p
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal4')
                                    i.fa.fa-chevron-up.fa-2x.fa-button
                                    |  Previous Emergency Number
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal6')
                                    i.fa.fa-chevron-down.fa-2x.fa-button
                                    |  Next Emergency Number
                            a.close-reveal-modal ×
                        a.button.alert.expand(href='#', data-reveal-id='myModal6')
                            i.fa.fa-info-circle
                            |  After Hours Medical/Behavioral
                        #myModal6.reveal-modal.text-center(data-reveal='data-reveal')
                            .call-buttons-box
                                h2
                                    | After Hours Medical/Behavioral
                                    br
                                    | Available (24/7)
                                hr
                                h3.lead
                                    a.button.emergency(href='tel:901-541-5654')
                                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                                        |  901-541-5654
                            p
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal5')
                                    i.fa.fa-chevron-up.fa-2x.fa-button
                                    |  Previous Emergency Number
                                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal1')
                                    i.fa.fa-chevron-down.fa-2x.fa-button
                                    |  Next Emergency Number
                            a.close-reveal-modal ×
                    #emergency-desktop.medium-5.medium-centered.columns.hide-for-small
                        .row
                            a.button.alert.radius.expand(href='/univheal/emergencies.php')
                                .columns.large-5.medium-4.text-right.emergency-phone-icon
                                    i.fa.fa-phone.fa-flip-horizontal.fa-3x
                                .columns.large-7.medium-8.text-left
                                    h4
                                        | Emergency
                                        br
                                        | Numbers
                                .columns.small-12
                                    | Call 911 or Campus Police at 901-448-4444
                                    br
                                    |  More Emergency Information

        script(type='text/javascript', src='_resources/2015/js/jquery.min.js')
        script(type='text/javascript', src='_resources/2015/js/uthsc.foundation.min.js')
        script(type='text/javascript').
            (function($){$(document).foundation();})(jQuery);
        script(src='_resources/2015/js/uthsc.min.js')