doctype html
html.no-js(lang="en")
    include template-files/head
    body
        include template-files/left-off-canvas-menu
        include template-files/right-off-canvas-menu
        //Off Canvas Wrapper
        #wrapper
            include template-files/mobile-navigation

            //Header
            header#uthsc-header
                include template-files/nav-top-bar
                include template-files/banner

                include template-files/breadcrumbs

            include template-files/dropdown-navigation

            // Hero Image
            .hero.hero-one

            include template-files/content

            footer
                include template-files/footer-top
                include template-files/footer-bottom

        include template-files/closing-scripts