doctype html
html.no-js(lang="en")
    include template-files/head
    body
        include template-files/left-off-canvas-menu
        include template-files/right-off-canvas-menu
        //Off Canvas Wrapper
        #wrapper
            include template-files/mobile-navigation

            //Header
            header#uthsc-header
                include template-files/nav-top-bar
                include template-files/banner

                include template-files/breadcrumbs

            include template-files/dropdown-navigation

            // Hero Image
            .hero: img(src='_resources/2015/images/uthsc-campus-dunn.jpg')

            // Page Heading
            .row: .large-12.columns
                h1 Page Title

            //Content Row 1
            .row: .large-12.columns
                .panel
                    h3 Content Row 1
                    p This is a full width row with a panel in it.
                    p Thanks to
                        a(href='http://fortawesome.github.io/Font-Awesome/')  Fontawesome&nbsp;
                            i.fa.fa-flag
                        |  we can use these handy icons anywhere. Here's an example of a
                        a(href='')  pdf link&nbsp;
                            i.fa.fa-file-pdf-o
                        | . Sed ut
                        strong  perspiciatis
                        |  unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        strong  totam
                            em  rem
                            |  aperiam
                        | , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed qui consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.


                // Content Row 2
                .row
                    .large-4.columns
                        h3 Content Row 2
                        h5 One Third
                        p
                            strong This is a three column layout
                            |  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        a.button.secondary.radius(href='#') Apply Now&ensp;
                            i.fa.fa-graduation-cap
                    .large-4.columns
                        h3 Content Row 2
                        h5 One Third
                        p
                            strong This is a three column layout
                            |  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        a.button.radius(href='#') Academic Calendar&ensp;
                            i.fa.fa-calendar
                    .large-4.columns
                        h3 Content Row 2
                        h5
                            | UT President Joe DiPietro describes challenges facing higher ed and its role in preparing the workforce of the future
                        figure.left.image-40
                            img(src='http://news.uthsc.edu/wp-content/uploads/2014/09/Dr.-Dipietro2.jpg', alt='UT President Joe DiPietro addresses panel members about the role of higher education in workforce preparedness.')
                            figcaption
                                | UT President Joe DiPietro addresses panel members about the role of higher education in workforce preparedness.
                        p
                            strong This is a three column layout
                            |  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        a.button.radius(href='#') Get Directions&ensp;
                            i.fa.fa-map-marker

                // Content Row 3
                .row
                    .large-4.columns
                        h3 Content Row 3
                        h5 One Third
                        figure.right.image-40
                            img(src='http://news.uthsc.edu/wp-content/uploads/2014/12/Top-Workplace-HomePageSlider.jpg', alt='the arches on union avenue')
                            figcaption UTHSC named one of the 2014 Top Workplaces in Memphis.
                        p
                            strong This is a two column layout
                            |  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    .large-8.columns
                        h3 Content Row 3
                        h5 Two Thirds
                        .left
                            img(src='_resources/2015/images/bridge.jpg')
                        p
                            strong This is a two column layout
                            |  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            footer
                include template-files/footer-top
                include template-files/footer-bottom

        include template-files/closing-scripts