//Banner
.row
    .medium-7.large-8.large-centered.columns
        img.uthsc-logo(src='_resources/2015/images/uthsc-logo-white-text.svg', width='100%')
    .medium-5.large-12.hide-for-large-up.columns.small-collapse
        .search-bar.has-form.tablet
            input.search(type='text' placeholder="Search")
            a.button.tiny(href="#")
                i.fa.fa-search