//Main Navigation
nav#uthsc-navigation-alt.show-for-large-up(role='navigation')
    ul.row.collapse(data-equalizer='data-equalizer', data-uthscequalizer='data-uthscequalizer')
        li.uthsc-navigation-column.small-2.columns
            a(href='#', data-equalizer-watch='data-equalizer-watch') Menu Dropdown 0ne
            ul(data-uthscequalizer-watch='data-uthscequalizer-watch')
                li: a(href='#') First Item in Dropdown
                li: a(href='#') Second Item in Dropdown
                li: a(href='#') Third Item in Dropdown
                li: a(href='#') Fourth Item in Dropdown
                li: a(href='#') Fifth Item in Dropdown
        li.uthsc-navigation-column.small-2.columns
            a(href='#', data-equalizer-watch='data-equalizer-watch') Menu Dropdown Two
            ul(data-uthscequalizer-watch='data-uthscequalizer-watch')
                li: a(href='#') First Item in Dropdown
                li: a(href='#') Second Item in Dropdown
                li: a(href='#') Third Item in Dropdown That Goes to Two Lines
                li: a(href='#') Fourth Item in Dropdown
        li.uthsc-navigation-column.small-2.columns
            a(href='#', data-equalizer-watch='data-equalizer-watch') Menu Dropdown Three
            ul(data-uthscequalizer-watch='data-uthscequalizer-watch')
                li: a(href='#') First Item in Dropdown
                li: a(href='#') Second Item in Dropdown
                li: a(href='#') Third Item in Dropdown
                li: a(href='#') Fourth Item in Dropdown
                li: a(href='#') Fifth Item in Dropdown
                li: a(href='#') Sixth Item in Dropdown
                li: a(href='#') Seventh Item in Dropdown
                li: a(href='#') Eighth Item in Dropdown
                li: a(href='#') Ninth Item in Dropdown
                li: a(href='#') Tenth Item in Dropdown
                li: a(href='#') Eleventh Item in Dropdown
        li.uthsc-navigation-column.small-2.columns
            a(href='#', data-equalizer-watch='data-equalizer-watch') Menu Dropdown Four
            ul(data-uthscequalizer-watch='data-uthscequalizer-watch')
                li: a(href='#') First Item in Dropdown
                li: a(href='#') Second Item in Dropdown
                li: a(href='#') Third Item in Dropdown
                li: a(href='#') Fourth Item in Dropdown
                li: a(href='#') Fifth Item in Dropdown
                li: a(href='#') Sixth Item in Dropdown
                li: a(href='#') Seventh Item in Dropdown
        li.uthsc-navigation-column.small-2.columns
            a(href='#', data-equalizer-watch='data-equalizer-watch') Menu Dropdown Five
            ul(data-uthscequalizer-watch='data-uthscequalizer-watch')
                li: a(href='#') First Item in Dropdown
        li.uthsc-navigation-column.small-2.columns
            a(href='#', data-equalizer-watch='data-equalizer-watch') Menu Dropdown Six
            ul(data-uthscequalizer-watch='data-uthscequalizer-watch')
                li: a(href='#') First Item in Dropdown
                li: a(href='#') Second Item in Dropdown
                li: a(href='#') Third Item in Dropdown
                li: a(href='#') Fourth Item in Dropdown
                li: a(href='#') Fifth Item in Dropdown That Goes to Three Lines Because it Is Very Long
                li: a(href='#') Sixth Item in Dropdown
                li: a(href='#') Seventh Item in Dropdown
                li: a(href='#') Eighth Item in Dropdown