#emergency.row.collapse
    #emergency-mobile.columns.small-12.show-for-small
        h3.text-center
            i.fa.fa-phone.fa-flip-horizontal.fa-2x
            |  Emergency Numbers
        a.button.alert.expand(href='#', data-reveal-id='myModal1')
            i.fa.fa-info-circle
            |  Medical/Behavioral
        #myModal1.reveal-modal.text-center(data-reveal='data-reveal')
            .call-buttons-box
                h2 Medical/Behavioral
                hr
                h3.lead
                    a.button.emergency(href='tel:911')
                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                        |  911
                p or Campus Police at
                h3
                    a.button.emergency(href='tel:901-448-4444')
                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                        |  901-448-4444
            p
                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal6')
                    i.fa.fa-chevron-up.fa-2x.fa-button
                    |  Previous Emergency Number
                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal2')
                    i.fa.fa-chevron-down.fa-2x.fa-button
                    |  Next Emergency Number
            a.close-reveal-modal ×
        a.button.alert.expand(href='#', data-reveal-id='myModal2')
            i.fa.fa-info-circle
            |  Medical Urgent Care
        #myModal2.reveal-modal.text-center(data-reveal='data-reveal')
            .call-buttons-box
                h2 Medical Urgent Care
                hr
                h3.lead
                    a.button.emergency(href='tel:901-448-5630')
                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                        |  901-448-5630
            p
                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal1')
                    i.fa.fa-chevron-up.fa-2x.fa-button
                    |  Previous Emergency Number
                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal3')
                    i.fa.fa-chevron-down.fa-2x.fa-button
                    |  Next Emergency Number
            a.close-reveal-modal ×
        a.button.alert.expand(href='#', data-reveal-id='myModal3')
            i.fa.fa-info-circle
            |  Behavioral Health Urgent Care
        #myModal3.reveal-modal.text-center(data-reveal='data-reveal')
            .call-buttons-box
                h2 Behavioral Health Urgent Care
                hr
                h3.lead
                    a.button.emergency(href='tel:901-448-5064')
                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                        |  901-448-5064
            p
                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal2')
                    i.fa.fa-chevron-up.fa-2x.fa-button
                    |  Previous Emergency Number
                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal4')
                    i.fa.fa-chevron-down.fa-2x.fa-button
                    |  Next Emergency Number
            a.close-reveal-modal ×
        a.button.alert.expand(href='#', data-reveal-id='myModal4')
            i.fa.fa-info-circle
            |  Student Assistance Program
        #myModal4.reveal-modal.text-center(data-reveal='data-reveal')
            .call-buttons-box
                h2 Student Assistance Program (SAP)
                hr
                h3.lead
                    a.button.emergency(href='tel:800-327-2255')
                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                        |  800-327-2255
                        br
                        | (Option 3)
            p
                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal3')
                    i.fa.fa-chevron-up.fa-2x.fa-button
                    |  Previous Emergency Number
                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal5')
                    i.fa.fa-chevron-down.fa-2x.fa-button
                    |  Next Emergency Number
            a.close-reveal-modal ×
        a.button.alert.expand(href='#', data-reveal-id='myModal5')
            i.fa.fa-info-circle
            |  Employee Assistance Program
        #myModal5.reveal-modal.text-center(data-reveal='data-reveal')
            .call-buttons-box
                h2 Employee Assistance Program (EAP)
                hr
                h3.lead
                    a.button.emergency(href='tel:855-437-3486')
                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                        |  855-437-3486
            p
                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal4')
                    i.fa.fa-chevron-up.fa-2x.fa-button
                    |  Previous Emergency Number
                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal6')
                    i.fa.fa-chevron-down.fa-2x.fa-button
                    |  Next Emergency Number
            a.close-reveal-modal ×
        a.button.alert.expand(href='#', data-reveal-id='myModal6')
            i.fa.fa-info-circle
            |  After Hours Medical/Behavioral
        #myModal6.reveal-modal.text-center(data-reveal='data-reveal')
            .call-buttons-box
                h2
                    | After Hours Medical/Behavioral
                    br
                    | Available (24/7)
                hr
                h3.lead
                    a.button.emergency(href='tel:901-541-5654')
                        i.fa.fa-phone.fa-2x.fa-flip-horizontal.fa-button
                        |  901-541-5654
            p
                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal5')
                    i.fa.fa-chevron-up.fa-2x.fa-button
                    |  Previous Emergency Number
                a.secondary.button.tiny.expand(href='#', data-reveal-id='myModal1')
                    i.fa.fa-chevron-down.fa-2x.fa-button
                    |  Next Emergency Number
            a.close-reveal-modal ×
    #emergency-desktop.medium-5.medium-centered.columns.hide-for-small
        .row
            a.button.alert.radius.expand(href='/univheal/emergencies.php')
                .columns.large-5.medium-4.text-right.emergency-phone-icon
                    i.fa.fa-phone.fa-flip-horizontal.fa-3x
                .columns.large-7.medium-8.text-left
                    h4
                        | Emergency
                        br
                        | Numbers
                .columns.small-12
                    | Call 911 or Campus Police at 901-448-4444
                    br
                    |  More Emergency Information
