// Top Footer
.uthsc-footer-top
    .row(data-equalizer='data-equalizer')
        .medium-4.columns.footer-box(data-equalizer-watch='data-equalizer-watch')
            h4 Contact Us
            p
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        .medium-4.columns.footer-box(data-equalizer-watch='data-equalizer-watch')
            h4 Links
            p
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        .medium-4.columns.footer-box.hide-for-small(data-equalizer-watch='data-equalizer-watch')
            figure
                img(src='_resources/2015/images/campus-arches.jpg', alt='the arches on union avenue')
                figcaption Caption for the above image.