nav.offcanvas-nav.menu.push-menu-left
    a.button.uthsc-split-button-home(href='index.php'): i.fa.fa-home
    button.button.dropdown.uthsc-split-button(data-dropdown='breadcrumbs-left' aria-controls='drop' aria-expanded='false') Breadcrumbs Back Home
    br
    ol.f-dropdown.mega.uthsc-split-button-breadcrumb-links(aria-labelledby='breadcrumblabel' id='breadcrumbs-left' data-dropdown-content='data-dropdown-content' role='menu' aria-hidden='false' tabindex='-1')
        li: a(href='index.php' title='Home') Back to the Homepage
            i.fa.fa-level-up.fa-2x.fa-flip-horizontal(style='float: left;')
        li: a(href='products.html' title='Products') College of Medicine
        li: a(href='products.html' title='Products') Office of Medical Education
        li: a(href='products.html' title='Products') Clerkships
        li: a(href='products.html' title='Products') Core Clerkship Directors
        li: a(href='#'): strong Current Page
    input(type='text' placeholder='Search' style='margin:0;')
    button.close-menu.expand
        i.fa.fa-chevron-left
        | &emsp; Close Menu
    ul
        li.not-a-link
            a Menu Dropdown One
            ul
                li: a(href='#') First Item in Dropdown
                li: a(href='#') Second Item in Dropdown
                li: a(href='#') Third Item in Dropdown
                li: a(href='#') Fourth Item in Dropdown
                li: a(href='#') Fifth Item in Dropdown
        li.not-a-link
            a Menu Dropdown Two
            ul
                li: a(href='#') First Item in Dropdown
                li: a(href='#') Second Item in Dropdown
                li: a(href='#') Third Item in Dropdown That Goes to Two Lines
                li: a(href='#') Fourth Item in Dropdown
        li.not-a-link
            a Menu Dropdown Three
            ul
                li: a(href='#') First Item in Dropdown
                li: a(href='#') Second Item in Dropdown
                li: a(href='#') Third Item in Dropdown
                li: a(href='#') Fourth Item in Dropdown
                li: a(href='#') Fifth Item in Dropdown
                li: a(href='#') Sixth Item in Dropdown
                li: a(href='#') Seventh Item in Dropdown
                li: a(href='#') Eighth Item in Dropdown
                li: a(href='#') Ninth Item in Dropdown
                li: a(href='#') Tenth Item in Dropdown
                li: a(href='#') Eleventh Item in Dropdown
        li.not-a-link
            a Menu Dropdown Four
            ul
                li: a(href='#') First Item in Dropdown
                li: a(href='#') Second Item in Dropdown
                li: a(href='#') Third Item in Dropdown
                li: a(href='#') Fourth Item in Dropdown
                li: a(href='#') Fifth Item in Dropdown
                li: a(href='#') Sixth Item in Dropdown
                li: a(href='#') Seventh Item in Dropdown
        li.not-a-link
            a Menu Dropdown Five
            ul
                li: a(href='#') First Item in Dropdown
        li.not-a-link
            a Menu Dropdown Six
            ul
                li: a(href='#') First Item in Dropdown
                li: a(href='#') Second Item in Dropdown
                li: a(href='#') Third Item in Dropdown
                li: a(href='#') Fourth Item in Dropdown
                li: a(href='#') Fifth Item in Dropdown That Goes to Three Lines Because it Is Very Long
                li: a(href='#') Sixth Item in Dropdown
                li: a(href='#') Seventh Item in Dropdown
                li: a(href='#') Eighth Item in Dropdown
    button.close-menu.expand
        i.fa.fa-chevron-left
        | &emsp; Close Menu
    | <?php if (strpos($_SERVER['HTTP_USER_AGENT'], 'iPhone')) { ?>
    .bottom-nav-bar-off-canvas
    | <?php } ?>