/* Add padding to floated images */
.left img, figure.left {
  margin-right: 1em;
}

.right img, figure.right {
  margin-left: 1em;
}
figure.right img  {
  margin: 0;
}
.image-40 {
  width: 40%;
}
div#wrapper {
  padding-bottom: 44px;
}

body {
  font-family: $body-font-family;
  font-weight: $font-normal;
  font-style: $font-normal;
}

p a {
  font-weight: $font-weight-bold;
}

em {
  font-style: $font-weight-italic;
}

strong {
  font-weight: $font-weight-bold;

  em {
    font-weight: $font-weight-bold;
    font-style: $font-weight-italic;
  }
}

h1, h2, h3, h4, h5, h6 {
  & strong, em, strong em {
    font-weight: $font-normal;
    font-style: $font-normal;
  }
}
figure {
  border: 1px solid $base;
  border-radius: 0 0 3px 3px;
  border-radius: 3px;
  overflow: hidden;
  margin: 0;
  figcaption {
    padding: 5px;
    font-size: 0.85em;
    font-family: "Open Sans";
  }
}
input[type='text'] {
  font-size: 1em;
}
@media #{$large-up} {
  div#wrapper {
    padding-bottom: 0px;
  }
}
@media #{$small-only} {
  .image-40, .image-40 img {
    width: 100%;
  }
}