/* Add padding to floated images */
.left img {
  margin-right: 1em;
}

.right img {
  margin-left: 1em;
}

div#wrapper{
  padding-bottom: 50px;
}

@media #{$large-up} {
  div#wrapper{
    padding-bottom: 0px;
  }
}