.homepage {
  .magellan {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    .sub-nav {
      width: 84vw;
      margin-left: 18vw;
      dd {
        width: 16vw;
        margin: 0;
        &.gellin a {
          color: $uthsc-blue !important;
          background-color: transparent !important;
          text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
        }
      p.subheader {
        font-size: 2vw;
        font-weight: bold;
        color: inherit;
      }
      }
      a {
        color: rgba(0, 0, 0, 0.7);
        padding: 0;
        &:hover {
          color: $uthsc-bg-double-hover !important;
          text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
        }
      }
    }
  }
  .more-chevron {
    font-size: 1.5vw;
    line-height: 1;
    padding-top: 3.5vh;
    color: rgba(255,255,255, .85) !important;
  }
}