#mobile-navigation {
  position: fixed;
  bottom: 0;
  z-index: 1;
  left:0;
  right: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  button {
    margin-bottom: 0;
    width:50%;
    height: 44px;
  }
}

.pml-open #mobile-navigation{
  left: 300px;
  right: -300px;
}

.pmr-open #mobile-navigation{
  right: 300px;
  left: -300px;
}

.bottom-nav-bar {
  width: 100%;
  height: 44px;
  clear: left;
  background-image: url(../images/uthsc-logo-short-grey.svg);
  text-align: center;
  line-height: 44px;
  background-size: 89%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $uthsc-green;
  opacity: 0.4;
}
.nav-toggler {
    background: $uthsc-green;
    height: 44px;
}
.toggle-push-left {
    background-image: url("../images/2t.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    border-right: 1px solid #5d5c5c;
}
.toggle-push-right {
    background-image: url("../images/5t.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    border-left: 1px solid #1e1e1e;
}