#uthsc-navigation-alt {

  background-color: $uthsc-green;

  a {
    color: #fff;
    padding: .5em;
    display:block;
  }

  li {
    list-style: none;
  }

  //Top Level Category List
  & > ul > li {

    text-align: center;
    border-right: 1px solid $uthsc-bg-hover;

    &:hover {
      background-color: scale-color($primary-color, $lightness: -10%);
    }

    &:first-child {
      border-left: 1px solid $uthsc-bg-hover;
    }
    & > a {
      //background:red;
      width:100%;
      display: table-cell;
      vertical-align: middle;
    }
  }

  //Inner Link List
  & > ul > li > ul {
    //display: none;
    margin-left: 0;
    margin-top: 0.2em;
    margin-bottom: 0.6em;
    padding-left: 0px;
    //height: 200px; //What are we going to do about this? It can't be fixed height.
    //background: blue;
    text-align: left;

    li {
      float: none;
      font-size: .8em;
      line-height: 1.5em;
      font-weight: 300;
      font-style: $font-weight-italic;

      &:hover {
        background: $uthsc-bg-double-hover;
      }
    }
    &:before {
      content: "";
      display: block;
      height: 6px;
      width: 50%;
      margin-left: auto;
      background: white;
      margin-right: auto;
      margin-bottom: 0.4em;
      color: white !important;
      opacity: 0.07;
    }
  }

}