.top-bar {
  background-color: $uthsc-first-bookend-color;
  .top-bar-section li:not(.has-form) a:hover, .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button), .top-bar-section li:hover {
      background-color: $uthsc-bg-double-hover;
    }
  .top-bar-section .has-dropdown > a, .top-bar-section .has-dropdown > a {
    background-color: $oil;
    &:hover {
      background-color: $uthsc-bg-double-hover;
    }
  }
  section.top-bar-section {
      margin-bottom: 0;
  }
  .search-bar-large {
    width:190px;
  }
  }