#mobile-navigation {
  position: fixed;
  bottom: 0;
  z-index: 1;
  left:0;
  right: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  button {
    margin-bottom: 0;
    width:50%;
  }
}

.pml-open #mobile-navigation{
  left: 300px;
  right: -300px;

}

.pmr-open #mobile-navigation{
  right: 300px;
  left: -300px;
}

.bottom-nav-bar {
    width: 100%;
    height: 44px;
    clear: left;
    background: $uthsc-green;
    text-align: center;
    line-height: 44px;
}