.uthsc-footer-bottom {
  background: $uthsc-first-bookend-color;
  padding: 0 0 44px;

  h1, h2, h3, h4, h5, h6, p {
    color: #fff;
  }

  .left img {
    padding-right: 1em;
  }

  .logo {
    background: $uthsc-green;
    padding: .5em;
  }

  .social-icon i {
    padding: 11px;
    &:hover {
      color: $uthsc-bg-double-hover;
    }
  }

  .two-line-button-icon {
    float: left;
    padding-right: 0.4em;
  }

  .two-line-button-text {
    float: right;
    text-align: left;
  }
  h3 i.fa {
    position: relative;
    bottom: -7px;
  }
  #emergency-mobile .button.alert.expand {
    color: $smoke;
    margin-bottom: 0;
    a {
      font-weight: $font-weight-bold;
      color: $silver;
    }
    &:nth-child(n+2) {
    border-top: solid 1px #910e16;
  }
  }
  .emergency-phone-icon {
    left: 14px;
    position: relative;
    top: 12px;
  }
  .button.secondary {
    background-color:$silver;
    color: $oil !important;


    &:hover {
      background-color:$uthsc-bg-double-hover;
      color: $white;
    }

  }
  hr.tooltip-divider {
    border: solid #555;
    border-width: 3px 0 0;
    clear: both;
    margin: 3px 0;
    height: 0;
  }

  .has-tip hr {
    border: solid #555;
    border-width: 3px 0 0;
    clear: both;
    margin: 3px 0;
    height: 0;
  }

  h3 .fa-button {
    top: .4rem;
  }

  .fa-button {
    position: relative;
    padding: 0 0 6px 0;
    margin: 0 10px 0 -10px;
  }

  p .fa-button {
    top: .2rem;
  }

  .call-buttons-box {
    height: 320px;
  }

}