.columns.medium-9(data-equalizer-watch="data-equalizer-watch")
    img(src="_resources/2015/images/numbers.png")
    hr(style="width: 80%;margin: 3% 10%;")
    h2 Students
    .row
        .columns.medium-4
            h3 Future
            ul
                li: a(href='/admissions/') Admissions
                li: a(href='/admissions/application-deadlines.php') Application Deadlines
                li: a(href='/admissions/degrees-offered.php') Degrees Offered
                li: a(href='/finaid/') Financial Aid
                li: a(href='/maps/') Maps and Directions
                li: a(href='/international/') International Students
                li: a(href='/futurestudents/') More...
        .columns.medium-4
            h3 Current
            ul
                li: a(href='/registrar/academic_calendar.php') Academic Calendar
                li: a(href='/registrar/students.php#catalogs') Academic Catalog
                li: a(href='/banner/') Banner Self-Service
                li: a(href='/centerscope/') CenterScope
                li: a(href='/oss/') One Stop Shop
                li: a(href='/studentlife/') Student Life/SGAEC
                li: a(href='/volshop/') VolShop
                li: a(href='/registrar/') Registrar
                li: a(href='/finance/bursar/') Bursar&rsquo;s Office
                li: a(href='/students/') More...
        .columns.medium-4
            h3 Residents
            ul
                li: a(href='/GME/') Graduate Medical Education (GME)
                li: a(href='/dentistry/Grad/programs.php') Dentistry
                li: a(href='/pharmacy/dcp/residencyfellowship/cprp/') Pharmacy
                li: a(href='/hospitals/') Affiliated Hospitals
                li: a(href='/residency/') More...