.row.colleges
    .columns
        h2 Colleges
    .columns
        ul.colleges-grid
            li:  img(src='_resources/2015/images/cod1.jpg' onmouseover="this.src='_resources/2015/images/cod2.jpg'" onmouseout="this.src='_resources/2015/images/cod1.jpg'")
            li:  img(src='_resources/2015/images/cghs1.jpg' onmouseover="this.src='_resources/2015/images/cghs2.jpg'" onmouseout="this.src='_resources/2015/images/cghs1.jpg'")
            li:  img(src='_resources/2015/images/chp1.jpg' onmouseover="this.src='_resources/2015/images/chp2.jpg'" onmouseout="this.src='_resources/2015/images/chp1.jpg'")
            li:  img(src='_resources/2015/images/com1.jpg' onmouseover="this.src='_resources/2015/images/com2.jpg'" onmouseout="this.src='_resources/2015/images/com1.jpg'")
            li:  img(src='_resources/2015/images/con1.jpg' onmouseover="this.src='_resources/2015/images/con2.jpg'" onmouseout="this.src='_resources/2015/images/con1.jpg'")
            li:  img(src='_resources/2015/images/cop1.jpg' onmouseover="this.src='_resources/2015/images/cop2.jpg'" onmouseout="this.src='_resources/2015/images/cop1.jpg'")
