#about.content-area
    #numbers.row.text-center(data-equalizer='data-equalizer')
        .columns.numbers.medium-3(data-equalizer-watch='data-equalizer-watch')
            h2 $2.7
            p Billion
            p contributed to the
                br
                span Tennessee economy
        .columns.medium-6(data-equalizer-watch='data-equalizer-watch')
            .row.numbers.tennessee
                .columns.medium-6
                    h2 4
                        i.fa.fa-map-marker
                    p Campuses
                    p
                        a(href='#') Memphis |
                        a(href='#')  Knoxville |
                        a(href='#')  Nashville |
                        a(href='#')  Chattanooga
                .columns.medium-6
                    h2 100+
                    p Clinical &amp
                        br
                        | Educational Sites
            p
                span(style="position: relative; top: -2.7rem;") Across Tennessee
        .columns.medium-3.numbers(data-equalizer-watch='data-equalizer-watch')
            h2 $200
            p Million
            p in sponsored programs
                br
                span in fiscal 2014
    .row
        .columns.small-centered.medium-8.large-7
            .row
                .columns.medium-6
                    a.button.large.expand
                        i.fa.fa-road  Take a Tour
                .columns.medium-6
                    a.button.large.expand
                        i.fa.fa-clock-o  Schedule a Visit
    .row
        .columns.small-centered.medium-7
            .map-cover
            iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d52195.518026446356!2d-89.996586!3d35.151136!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1434487876316" width="100%" height="275" frameborder="0" style="border:0")
    #events.row
        | <?php readfile("http://events.uthsc.edu/widgets/uthsc_homepage_2015.php"); ?>
    .row
        .columns.small-centered.small-8
            .row.blockquote.collapse
                .columns.small-3
                    h2
                        i.fa.fa-5x.fa-quote-left.quotemark
                .columns.small-9
                    blockquote
                        p Could the design processes we&rsquo;ve come to rely on, particularly in relation to responsive design, have hindered our creativity?
                        cite Andrew Clarke