.columns.medium-9.panel(data-equalizer-watch="data-equalizer-watch" style="padding: 40vh 0;text-align: center;margin-top: 15px;background-image: url('_resources/2015/images/medkit.png');background-repeat: no-repeat;background-size: 50%;background-position: 50%;")
    p Clinical Care specific content will be in this space.
        br
        | See the
        a(href='#education')  Education
        |  section for example.