.columns.medium-3.news-box(data-equalizer-watch="data-equalizer-watch")
    .row
        .columns.small-11
            h3: i.fa.fa-newspaper-o  News
                br
                span.news-box-for for Clinical Care
        .columns.small-12
            | <?php readfile("http://news.uthsc.edu/news-html/redesign-news-clinical-care.php"); ?>