// Fullscreen image
.hide-for-small
    .fullscreen
        div(style='height: 38%;')
        div.magellan(data-magellan-expedition='fixed')
            dl.sub-nav
                dd(data-magellan-arrival='education')
                    a(href='#education')
                        i.fa.fa-graduation-cap.fa-3x
                        p.subheader Education
                dd(data-magellan-arrival='research')
                    a(href='#research')
                        i.fa.fa-flask.fa-3x
                        p.subheader Research
                dd(data-magellan-arrival='clinical-care')
                    a(href='#clinical-care')
                        i.fa.fa-medkit.fa-3x
                        p.subheader Clinical Care
                dd(data-magellan-arrival='public-service')
                    a(href='#public-service')
                        i.fa.fa-globe.fa-3x
                        p.subheader Public Service
                dd.to-top(data-magellan-arrival='top')
                    a(href='#top')
                        i.fa.fa-arrow-circle-up.fa-2x
                        p.subheader To Top