// Hero Images for Mission Sets
.hide-for-small.content-area
    // Education
    #education.hero: img(src='_resources/2015/images/mission-education.jpg' alt='xxxx', data-magellan-destination='education')
    .hero-name-stripe
    .row(data-equalizer="data-equalizer")
        h2.hero-text Education
        include education-news
        include education
    #colleges.hero.panel
        include education-colleges
     // Research
    #research.hero: img(src='_resources/2015/images/mission-research.jpg' alt='xxxx', data-magellan-destination='research')
    .hero-name-stripe
    .row(data-equalizer="data-equalizer")
        h2.hero-text Research
        include research-news
        include research
    // Clinical Care
    #clinical-care.hero: img(src='_resources/2015/images/mission-clinical-care.jpg' alt='xxxx', , data-magellan-destination='clinical-care')
    .hero-name-stripe
    .row(data-equalizer="data-equalizer")
        h2.hero-text Clinical Care
        include clinical-care-news
        include clinical-care
    // Public Service
    #public-service.hero: img(src='_resources/2015/images/mission-public-service.jpg' alt='xxxx', , data-magellan-destination='public-service')
    .hero-name-stripe
    .row(data-equalizer="data-equalizer")
        h2.hero-text Public Service
        include public-service-news
        include public-service