hr
// Social Row
#social-row.row.collapse.text-center(data-equalizer="data-equalizer")
    .columns.medium-4.social-site
        h5
            i.fa.fa-facebook.fa-2x  Facebook
        .fb-page(data-href='https://www.facebook.com/uthsc', data-width='500', data-hide-cover='true', data-show-facepile='false', data-show-posts='true' data-equalizer-watch="data-equalizer-watch")
            .fb-xfbml-parse-ignore
                blockquote(cite='https://www.facebook.com/uthsc')
                    a(href='https://www.facebook.com/uthsc') University of Tennessee Health Science Center
    .columns.medium-4.social-site
        h5
            i.fa.fa-twitter.fa-2x  Twitter
        a.twitter-timeline(data-dnt='true', href='https://twitter.com/uthsc', data-widget-id='614465323593539584' data-equalizer-watch="data-equalizer-watch") Tweets by @uthsc
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    .columns.medium-4.social-site
        h5
            i.fa.fa-instagram.fa-2x  Instagram
        .div(data-equalizer-watch="data-equalizer-watch")
            | <iframe src="http://widget.websta.me/in/uthsc/?s=120&w=2&h=4&b=1&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:270px; height: 600px" ></iframe> <!-- websta - web.stagram.com -->